* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 14px "Raleway", "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
}

.span {
  font-size: 13px;
  line-height: 20px;
  color: #43806C;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
  margin: 20px 0 35px;
}
@media (max-width: 425px) {
  .title {
    font-size: 22px;
    line-height: 30px;
  }
}

.descr {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 32px;
}

.link {
  font-size: 18px;
  line-height: 18px;
  color: #214E41;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 6px;
}

.button {
  padding: 10px 15px;
  background-color: #43806C;
  border: none;
  border-radius: 6px;
  color: white;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}